@charset "utf-8";
#wrap{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
header{
    
    margin-bottom: 50px;
}
.login_logo a{
    display: inline-block;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width:200px;
    height: 100px;
    text-indent: -9999px;
}

#container h1{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
}
#container form{
    display: inline-block;
    width: 300px;
    height: 200px;
}
#container .login_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#container .login_row input{
    width: 180px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #222;
    background-color: rgba(255, 255, 255, 0.493);
    outline: none;
    margin-left: 5px;
}
.id_img, .pw_img{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/id.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.pw_img{
    background-image: url(../img/password.png);
    background-size: 80%;
}

.login_btn .login_button{
    width: 220px;
    height: 40px;
    border: none;
    background-color: rgb(236, 202, 109);
    margin: 20px 0;
}
 
/* 로그인 실패시 경고글 */
.login_warn{
    margin-top: 30px;
    text-align: center;
    color : red;
}

.login_bottom ul{
    display: flex;
    justify-content: center;
}

.login_bottom li a{
    color: #666;
    font-size: 12px;
}
.login_bottom li::before{
    content: "";
    display: inline-block;
    margin: 5px 10px 0 10px;
    width: 1px;
    height: 10px;
    background-color: #888;
}
.login_bottom li:first-child::before{
    display: none;
}
